version: "3.9"
services:
  frontend:
    build: .
    container_name: vue-frontend
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      VUE_APP_API_URL: http://host.docker.internal:8000
