version: "3.9"
services:
  flutter:
    build: .
    container_name: flutter-app
    ports:
      - "8081:8081"
    volumes:
      - .:/app
    environment:
      API_URL: "http://host.docker.internal:8000"
